SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=

ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_DM_REGION=cn-hangzhou
ALIYUN_DM_ENDPOINT=dm.aliyuncs.com
ALIYUN_DM_ACCOUNT_NAME=hello@mail.jassen.asia
ALIYUN_DM_FROM_ALIAS=openlatter
